        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: 'Istok Web', sans-serif;
            background-color: white;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .image {
            flex: 1;
            background-image: url('/.idea/images/apc.jpg');
            background-attachment: fixed;
            background-position: 55px -40px;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: auto;
        }


        .white-line, .yellow-line, .blue-line {
            position: absolute;
            left: 0;
            width: 100%;
        }
        .white-line {
            top: 0;
            height: 0.4in;
            background-color: white;
        }
        .yellow-line {
            top: 5.5%;
            height: 0.05in;
            background-color: #fbaf41;
            z-index:10;
        }
        .blue-line {
            position: fixed;
            width: 100%;
            bottom: 0;
            height: 0.4in;
            background-color: #293A82;
            z-index: 15;
        }

        .copyright-label {
            position: fixed;
            bottom: 0;
            left: 5%;
            width: auto;
            max-width: 80%;
            font-size: 16px;
            background-color: #293A82;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            z-index: 15;
        }


        .grey-line {
            position: fixed;
            top: 0;
            left: 0;
            width: 0.7in;
            height: 100%;
            background-color: #343A40;
            transition: width 0.3s ease;
            z-index: 20;
            display: flex;
            align-items: flex-start;
        }

        .grey-line.extended {
            width: 2.4in;
        }


        .logo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0.7in;
            margin-top: 10px;

        }

        .logo {
            max-width: 80%;
            max-height: 80%;
            display: block;
        }

        .extended-text {
            color: #fbaf41;
            font-size: 16px;
            font-family:"Istok Web";
            margin-left: 10px;
            display: none;
            margin-top:10px;
        }

        .grey-line.extended .extended-text {
            display: inline;
        }


        .hamburger-icon {
            position: absolute;
            top: 3%;
            left: 0.8in;
            transform: translateY(-50%);
            width: 0.4in;
            height: 0.3in;
            background-color: white;
            cursor: pointer;
            transition: left 0.5s ease;        }

        .hamburger-icon::before,
        .hamburger-icon::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.2in;
            background-color: #343A40;
        }

        .hamburger-icon::before {
            top: 0;
        }

        .hamburger-icon::after {
            bottom: 0;
        }


        .user-btn, .notif-btn {
            position: absolute;
            top: 0.5%;
            background-color: white;
            border: none;
            color: black;
            text-align: center;
            font-size: 17px;
            cursor: pointer;
            z-index: 10;
        }
        .user-btn {
            left: 86%;
        }

        .notif-btn {
            left: 83.5%;
        }


        .notification-overlay {
            position: fixed;
            top: 22px;
            right: 210px;
            display: none;
            z-index: 1000;

        }

        .notification-content {
            background-color: #343A40;
            width: 220px;
            height: 250px;
            border-radius: 5px;
        }


        .signOut-overlay {
            position: absolute;
            top: 40px;
            right: 70px;
            background-color: #343A40;
            border-radius: 20px;
            padding: 8px 15px;
            display: none;
            z-index: 1001;
            color: white;
            font-size: 12px;
        }

        .signOut-overlay::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 20%;
            transform: translateX(-50%);
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent #343A40 transparent;
        }

        .signOut-content {
            cursor: pointer;
            transition: color 0.3s;
            text-align: center;
            width: 70px;
        }

        .signOut-content:hover {
            color: red;
        }

        .menu-icons {
            position: absolute;
            top: 20%;
            left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .menu-icons .icon-item {
            display: flex;
            align-items: center;
            margin-bottom: 0.8in;
        }

        .menu-icons img {
            width: 0.4in;
            height: 0.4in;
            cursor: pointer;
            transition: filter 0.3s ease;
        }

        .icon-label {
            color: white;
            margin-left: 0.2in;
            display: none;
            transition: filter 0.3s ease;
        }

        .icon-item:hover .icon-label {
            color: #fbaf41;
         }

        .grey-line.extended .icon-label {
            display: inline;
        }

        .policies-repository-content {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 20px;
            background-color: white;
            min-height: calc(100vh - 0.4in);
            overflow-y: auto;
            padding-bottom: 60px;

        }

        .policies-repository-content h2 {
           margin-bottom: 5px;
            display: inline-block;
            margin-left: 100px;
            margin-top: 30px;

        }

        .search-container {
            width: 300px; /* Adjust width as needed */
            margin-bottom: 20px;
            margin-top: -60px;
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            align-self: flex-end; /* Align to the right */
        }



        .policies-repository-content .search-container .filter-button {
            background-color: white !important;
            color: #293A82; !important;
            padding: 10px 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .policies-repository-content .search-container .filter-button:hover{
            background-color: #ccc !important;
            border: 2px solid #293A82;
            color: #0A185F;
        }

        .policies-repository-content .search-container .filter-button svg {
            width: 1em;
            height: 1em;
            fill: none !important;
            stroke: #ccc !important;
        }

        .policies-repository-content .search-container .filter-button svg:hover {
            stroke: #0A185F; !important;
        }

        .filter-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .filter-popup {
            background-color: #293A82;
            color: white;
            padding: 20px;
            border-radius: 10px;
            width: 400px;
            text-align: left;
        }

        .filter-popup h2 {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }

        .filter-section {
            margin-bottom: 15px;
        }

        .filter-section label {
            display: block;
            margin-bottom: 10px;
        }

        .filter-section select {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: white;
            color: #293A82;
        }

        .filter-buttons {
            text-align: center;
            margin-top: 20px;
        }

        .filter-buttons button {
            color: black;
            padding: 10px 30px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            margin: 0 10px;
            margin-left: 20px;
            margin-right:20px;
        }

        #applyFilter {
            background-color: #fbaf41;
        }

        .search-container input[type="text"] {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px 0 0 20px;
        }

        .search-container button {
            background-color: #293A82;
            color: white;
            padding: 11px 15px;
            border: none;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
        }

        .search-container button:hover {
            background-color: #0A185F;

        }

        .category {
            width: calc(100vw - 170px);
            height: 100%;
            max-height: 55px;
            margin-left: 100px;
            background-color: #4963D4;
            color: white;
            padding: 10px;
            margin-bottom: -8px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            position: relative;

        }

        .category:hover{
            background-color: #23278D;
        }

        .category .expand-icon {
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        .category.expanded .expand-icon {
            transform: rotate(90deg);
        }

        .category-content {
            width: calc(100vw - 170px);
            display: none;
            padding: 0;
            color: #293A82;
            border-radius: 5px 5px 5px 5px;
            margin-left: 100px;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            top: 100%;
            left: -100px;
            z-index: 10;
            background-color: white;
            max-height: 300px;
        }
        .category-content::-webkit-scrollbar {
            width: 8px;

        }

        .category-content::-webkit-scrollbar-thumb {
            background: #808080;
            border-radius: 8px;
        }

        .category-content::-webkit-scrollbar-track {
            background: #D3D3D3;
        }

        .category.expanded .category-content {
            display: block;
        }

        .subcategory {
            width: calc(100vw - 190px);
            height: 55px;
            padding: 10px;
            cursor: pointer;
            background-color: #7B8EDE;
            color: white;
            margin-top: 5px;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 10px 10px 10px 10px;
            margin-left: 5px;

        }

        .subcategory:hover {
            background-color: #5d74d9;
        }

        .policy-submission-content {
            flex: 1;
            width: calc(100% - 60px);
            margin-left: 60px;
            display: none;
            justify-content: center;
            align-items: center;
            padding: 20px;
            min-height: calc(100vh - 0.4in);
            background-color: white;
        }

        .policy-submission {
            border-radius: 10px;
            width: 400px;
            height: 400px;
            background-color: #293A82;
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
        }

        .policy-submission h2 {
            color: white;
            margin-bottom: 20px;
            margin-top: 10px;
            font-size: 24px;
        }


        .policy-submission-buttons button {
            width: 100%;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 18px;
        }


        .policy-submission-buttons button:first-child  {
            background-color: white;
            border-radius: 15px;
            margin-top: 10px;
            margin-bottom: 200px;
            color: #343A40;
            text-align: left;

        }

        .policy-submission-buttons button:first-child:hover {
            background-color: #343A40;
            color:white;
        }

        .policy-submission-buttons button:last-child {
            background-color: #fbaf41;
            color: white;
        }

        .policy-submission-buttons button:last-child:hover {
            background-color: #db8804;
            color:black;
        }

        .submit-overlay{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .submit-popUp{
            background-color: #293A82;
            color: white;
            padding: 5px;
            border-radius: 10px;
            width: 460px;
            height: 230px;
            text-align: center;
            align-items: center;
            margin-left: 475px;
            margin-top: 220px;
            font-size: 20px;
        }

        .submit-field {
            margin-left: 20px;
            margin-top: -5px;
            text-align: left;
            font-size: 12px;
        }


        .submit-buttons {
            text-align: center;
        }

        .submit-buttons button {
            color: black;
            padding: 5px 30px ;
            border-radius: 20px;
            border: #fbaf41;
            cursor: pointer;
            margin-top: 25px;
            background-color: #fbaf41;
            font-size: 18px;
            margin-left: 40px;
            margin-right: 10px;
            align-items: center;
        }

        .submit-buttons button:hover{
            background-color: #db8804;
            color:black;
        }

        .submit-input {
            border-radius: 5px;
            align-items: left;
            margin-left: 500px;
            margin-top:-160px;
        }

        .confirm-dl{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .confirm-popUp{
            background-color: #293A82;
            color: white;
            padding: 5px;
            border-radius: 10px;
            width: 460px;
            height: 200px;
            text-align: center;
            align-items: center;
            margin-left: 475px;
            margin-top: 230px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .cf-buttons {
            text-align: center;
        }

        .cf-buttons button {
            color: white;
            padding: 10px 40px;
            border-radius: 10px;
            border: #fbaf41;
            cursor: pointer;
            margin-top: 20px;
            background-color: #fbaf41;
            font-size: 18px;
            margin-left:20px;
            margin-right: 20px;
        }

        .cf-buttons button:hover{
            background-color: #db8804;
            color:black;
        }

        .process-tracker {
            width: 93%;
            margin-top: 50px;
            background-color:#293A82;
            display: none;
            height: auto;
            padding: 20px;
            margin-left: 60px;
            color: white;
            position: relative;
        }

        .process-tracker .tracker-header {
           font-size: 1.5em;
          font-weight: bold;
          margin-bottom: 20px;

        }

        .process-tracker .submissions-button {
            padding: 8px 14px;
            border-radius: 15px;
            border: none;
            color: grey;
            font-size: 12px;
            align-self: flex-end;
            margin-left: -95px;
            margin-bottom: 480px;
            cursor: pointer;
        }

        .process-tracker .submissions-button:hover {
            color: white;
            background-color: #A9A9A9;
        }

        .process-tracker-table {
          width: 97%;
          color: black;
          font-family: Istok-Web;
          margin-left: 17px;
          margin-top: 100px;
          position: absolute;
          top: 0;
          left: 0;
        }

    .process-tracker-table th,
    .process-tracker-table td {
          padding: 10px 15px;
          text-align: left;
        }

        .process-tracker-table tHead th {
          background-color: #fbaf41;
          color: black;
          text-align: left;

        }

        .process-tracker-table tBody tr:nth-child(odd) td {
          background-color: #E0E0E0;
        }

        .process-tracker-table tBody tr:nth-child(even) td {
          background-color: #FFFFFF;
        }

          .process-tracker-table tBody tr:hover td {
            background-color: grey;
        }

        .process-tracker-table tBody tr:nth-child(odd):hover td {
            background-color: #343A40;
        }

        .process-tracker-table td:nth-child(4) {
          text-align: center;
        }

        .process-tracker-table .status-reviewed {
          color: #fbaf41;
        }

        .process-tracker-table .status-verified {
          color: #2196F3;
        }


        .process-tracker-table .status-approved {
           color: #4CAF50;
        }
