body {
    overflow-x: hidden;
    font-family: 'Istok Web', sans-serif;
}

.Sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.7in;
    height: 100%;
    background-color: #343A40;
    transition:  width 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    
}

.Sidebar.extended {
    width: 2.4in;
}

.Sidebar-Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 0.6in;
    height: 0.6in;
    margin-top: 10px;
    margin-left:0.7em;
    
}

.extended-text {
    color: #fbaf41;
    font-size: 16px;
    font-family:"Bebas Neue";
    margin-left: 10px;
    display: none;
}

.Sidebar.Sidebar.extended .extended-text {
    display: inline;
}

.Logo {
    max-height: 70%;
    display: block;
}


.Sidebar-Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    
}

.Sidebar-Menu li{
    list-style: none;
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Sidebar-Menu li:hover .icon-label{
    color: orange;
}


.Sidebar-Menu img {
    width: 0.3in;
    height: 0.3in;
    cursor: pointer;
    margin-left: 0.1em;
}


.icon-label {
    color: white;
    margin-left: 0.2in;
    font-size: 0.8em;
    display: none;
    transition: filter 0.3s ease;
}


.Sidebar.extended .icon-label {
    display: block;
}

.blue-line {
    position: absolute; 
    bottom: 0;
    left: 4.3em; 
    width: 100%;
    text-align: left; 
    padding: 10px 20px; /* Add horizontal padding (left and right) */
    color: white; 
    background-color: #293A82; 
    font-size: 14px; 
    z-index: 1; 
}

.yellow-line{  
    position: absolute;
    top: 50px;
    background-color: #fbaf41;
    width: 100%;
    height: 6px;
    z-index: 0;

}

.hamburger-icon {
    position: absolute;
    margin-top: 18px;
    left: 0.8in;
    transform: translateY(-50%);
    width: 0.3in;
    height: 0.3in;
    background-color: transparent;
    cursor: pointer;
    transition: left 0.5s ease;        
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2in;
    background-color: #343A40;
}

.hamburger-icon::before {
    top: 0;
}

.hamburger-icon::after {
    bottom: 0;
}


.user-btn, .notif-btn {
    position: absolute;
    margin-top: -0.9em;
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    z-index: 10;
}
.user-btn {
    left: 86%;
}

.notif-btn {
    left: 83.5%;
}




.signOut-overlay {
    position: absolute;
    top: 6vh;
    right: 6.7vw;
    background-color: #343A40;
    border-radius: 20px;
    padding: 8px 15px;
    display: none;
    z-index: 1001;
    color: white;
    font-size: 12px;
}

.signOut-overlay::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #343A40 transparent;
}

.signOut-content {
    cursor: pointer;
    transition: color 0.3s;
    text-align: center;
    width: 70px;
}

.signOut-content:hover {
    color: red;
}