* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../../assets/bg/bgImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.signUp-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
   
}

.container{
    margin: 0 15px;
}

.form-container {
        background-color: white;
        padding: 20px;
        width: 340px;
        border-radius: 1em;
        box-shadow: 0 2em 4em rgba(0, 0, 0, 1);
        text-align: center;
        border: 0.1em solid #293A82;
        height: 29em;
}

img {
    width: 50px;
    margin-bottom: 15px;
    margin-right: 250px;
}

h2 {
        color: black;
        margin-top:-2.3em;
        margin-left: 1.8em;
        margin-bottom: 20px;
        font-size: 1.6em;
        font-family: Istok Web;

}

h3 {
        color: black;
        margin-top:30px;
        margin-left:-235px;
        margin-bottom: 5px;
        font-size: 22px;
        font-family: Istok Web;
}

input[type=text],
input[type=email], 
input[type=password] {
    width: 100%;
    padding: 0.3em;
    margin: 1.2vh 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 3vh, 0;
    border: none;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;


}

button:hover {
    background-color: #003f8a;
}

p{
    font-size: 2vh;
    text-align: left;
    margin: 2vh 0;
}

/* Floating message box styling */
.requirementsMessage {
    display: none;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.requirementsMessage ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.requirementsMessage ul li {
    margin-bottom: 5px;
}

.requirementsMessage ul li.valid {
    color: green;
}

.requirementsMessage ul li.invalid {
    color: red;
}